<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></title>
    <form action="POST">
      <p>Enter Keyword:</p>
      <input type="text" name="keyword">
    </form>
  </body>
</html>
