<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search the FT's archives by keyword.">
    <title>FT Search</title>
    <script src="/javascripts/site.js"></script>
    <link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^4.0.0,o-fonts@^3,o-buttons@^3.0.0,o-header@^4.0.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="https://www.ft.com/__assets/creatives/brand-ft/icons/v2/favicon-32x32.png" type="image/png" sizes="32x32">
  </head>
  <body>
    <div class="o-grid-row">
      <div data-o-grid-colspan="12"><h1><img class="headerimage" src='https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:brand-ft-logo-square?source=test'></img>Search</h1></div>
    </div>
    <div class="o-grid-row">
      <div data-o-grid-colspan="8">
        <p>This is the offline version of the <em>Financial Times</em> search app.</p>
      </div>
    </div>
  </body>
</html>
