body {
  padding: 50px;
  font: FinancierDisplayWeb, sans-serif;
  background-color: #fff1e5;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 60px;
}

form {
  padding: 20px;
}

.searchbar {
  display: inline-block;
  font-family: MetricWeb;
  font-size: 18px;
  border-width: 1px;
}

.headline {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid grey;
}
